/* ==========================================================================
  Ido's custom styles
  Date: March 2016
========================================================================== */

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

label {
    padding-top: .5em;
}
.save-alert {
  margin: 1em;
}

.fa {
    background: wheat;
}

.warning-mode {
    padding: 2em;
}

.remove-mentor {
    position: relative;
    left: 2em;
}
.edit-mentor {
    position: relative;
    left: 2em;
}