/* ==========================================================================
  Ido's custom styles
  Date: March 2016
========================================================================== */

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

label {
  padding-top: .5em;
}

.save-alert {
  margin: 1em;
}

.fa {
  background: wheat;
}

#form-comments {
  margin-bottom: 1em;
}

.warning-mode {
  padding: 2em;
}

.remove-mentor {
  position: relative;
  left: 2em;
}

.edit-mentor {
  position: relative;
  left: 2em;
}

.remove-att {
  position: relative;
  left: 2em;
}

.edit-att {
  position: relative;
  left: 2em;
}

.startup-edit {
  position: relative;
  left: 2em;
}

.remove-startup {
  position: relative;
  left: 2em;
}

.fields-block {
  background: rgba(7, 131, 236, 0.15);
  padding-bottom: 1em;
  padding-top: 0.5em;
}

.logo-img {
  height: 40px;
  border-radius: 50%;
}

.action-buttons {
  padding-top: 1em;
}

.main-balagan {
  padding-top: .5em;
}

.vcenter-s-header {
  display: inline-block;
  vertical-align: middle;
  float: left;
  /* background-color: rgba(7, 131, 236, 0.15); */
  font-weight: bold;
  font-size: 80%;
}

.schedule-day-x {
  margin: 0.4em;
}

.mentor-selector {
  width: 6em;
}

.sc-comments {
  margin-left: 2em;
  margin-bottom: 0.5em;
}

#schedule-tab {
  background-color: white;
}

.schedule-back-img {
  padding: 1em;
  border-radius: 10%;
}

.att-pic-card {
  height: 60px;
}


/********* TODO: Mentor page */

.g-mentor-logo {
  height: 36px;
  border-radius: 20px;
}

.alert {
  margin-top: 1em;
}

.sc-start-name {
  background-color: yellow;
  padding-top: .2em;
  border-radius: 25px;
}
